@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fira-code);
  --font-mono: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fira Code", monospace;
}

/* Scrollbar styling */
.scrollbar-styled::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-styled::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 3px;
}

.scrollbar-styled::-webkit-scrollbar-thumb:hover {
  background: #1f2937;
}

/* Firefox scrollbar */
.scrollbar-styled {
  scrollbar-color: #111827 transparent;
  scrollbar-width: thin;
}
